[Unit]
Description=Segmenter cam2 (HTTP MJPEG -> x264 -> 180s MP4 to RAM)
After=network-online.target tmpfiles-setup.service
Wants=network-online.target
RequiresMountsFor=/mnt/ramcam
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
User=visd
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /mnt/ramcam/cam2
ExecStartPre=/bin/chown -R visd:visd /mnt/ramcam
ExecStart=/usr/local/bin/seg-cam2.sh
Restart=always
RestartSec=5
LogRateLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
