[Unit]
Description=Upload cam2 segments from RAM to S3 (delete even on failure)
After=network-online.target
Wants=network-online.target

[Service]
User=visd
ExecStart=/usr/local/bin/uploader-cam2.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
